<div class="h-10">
  <div class="text-center mt-4">
    <%= image_tag("favpng_location-apple-icon-image-format.png", alt: "Descripción de la imagen", class: "w-16 h-16 mx-auto mb-2") %>
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Shipment Tracker</h2>
  </div>
</div>
<div class="flex justify-center items-center h-screen">
  <div class="bg-white p-8 shadow-md rounded-md w-96">
    <h2 class="text-2xl font-semibold mb-4 text-gray-900">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-4">
        <%= f.label :password, "New password", class: "font-semibold text-gray-900" %>
        <% if @minimum_password_length %>
          <em class="text-sm text-gray-600">(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "w-full p-2 border rounded border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "Confirm new password", class: "font-semibold text-gray-900" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full p-2 border rounded border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200" %>
      </div>

      <div class="mb-4">
        <%= f.submit "Change my password", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 font-semibold" %>
      </div>
    <% end %>

    <div class="text-center">
      <%=link_to 'Sign up', new_user_registration_path, class: 'text-blue-500 hover:underline font-semibold'%>
      <span class="text-gray-500 mx-2">|</span>
      <%=link_to 'Log in', new_user_session_path, class: 'text-blue-500 hover:underline font-semibold'%>
  </div>
</div>
