<h1>Shipments</h1>

<%= form_tag shipments_index_path, method: :get do %>
  <div>
    <%= label_tag :status, "Status:" %>
    <%= select_tag :status, options_for_select(shipment_statuses, params[:status]) %>
  </div>

  <div>
    <%= label_tag :carrier_name, "Carrier:" %>
    <%= select_tag :carrier_name, options_for_select(carrier_names, params[:carrier_name]) %>
  </div>

  <div>
    <%= submit_tag "Filter" %>
  </div>
<% end %>
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Carrier</th>
      <th>Tracking number</th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.status %></td>
        <td><%= shipment.carrier.name %></td>
        <td><%= shipment.tracking_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
