<div>

  <%= link_to 'Shipment Record', shipment_path(@shipment) %>
  <p> Shipment id: <%= @shipment.id %></p>
  <p> Account id: <%= @shipment.account_id %></p>
  <p> Status: <%= @shipment.status %></p>
  <p> Tracking number: <%= @shipment.tracking_number %></p>

</div>
