<div class="w-full h-16 border-b-2 border-black border-solid flex items-center justify-between drop-shadow-lg">
  <h1 class="ml-6" class="text-2xl font-semibold mb-4">Create Shipment</h1>

  <div class="w-80 flex items-center justify-between">
  <%= link_to 'My shipments', shipments_index_path, class: 'ml-14 inline-block border border-sky-700 border-solid w-32 h-8 text-sky-700 rounded-md font-medium pt-1 text-center hover:bg-sky-100' %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'inline-block border border-red-700 border-solid w-20 h-8 text-red-700 rounded-md font-medium pt-0.5 text-center hover:bg-red-100 mr-7'%>
  </div>
</div>
<div class="h-screen flex justify-center items-center">
  <div class="bg-white p-8 shadow-md rounded-md w-96">
    <h1 class="text-2xl font-semibold mb-4">Create Shipment</h1>
      <%= form_with(model: @shipment, url: create_shipment_path, html: { class: 'space-y-4' }) do |f| %>
        <div class="mb-4">
          <%= f.label :carrier_name, class: 'font-semibold' %>
          <%= f.text_field :carrier_name, class: 'w-full p-2 border rounded' %>
        </div>
        <div class="mb-4">
          <%= f.label :tracking_number, class: 'font-semibold' %>
          <%= f.text_field :tracking_number, class: 'w-full p-2 border rounded' %>
        </div>
        <div >
          <%= f.submit 'Create Shipment', class: 'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600' %>
        </div>
      <% end %>
  </div>
  </div>
